<html>
    <body>
        <h1>Chat Service</h1>
        <form>
            <textarea name="chatservice" id="history" placeholder="Chat History appears here" rows="10" cols="100" readonly="true">{{chathistory}}</textarea>

            <br><br>

            <input type="text" name="chatservice" id="input" width="100">
            <br>
            <input type="submit" name="chatservice" id="button">
        </form>
    </body>
</html>